In [45]:
import sklearn.datasets 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder
import numpy as np 
import pandas as pd

Loading Iris Data

In [22]:
df = pd.read_csv('https://raw.githubusercontent.com/amankharwal/Website-data/master/IRIS.csv')

In [23]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [24]:
df['species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [25]:
df.describe().T

              count      mean       std  min  25%   50%  75%  max
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal_width   150.0  3.054000  0.433594  2.0  2.8  3.00  3.3  4.4
petal_length  150.0  3.758667  1.764420  1.0  1.6  4.35  5.1  6.9
petal_width   150.0  1.198667  0.763161  0.1  0.3  1.30  1.8  2.5

In [26]:
X = df.drop(columns=['species'])
y = df['species']

In [29]:
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [28]:
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: species, Length: 150, dtype: object

Encoding the target

In [30]:
label = LabelEncoder()
y = label.fit_transform(y)

Splitting Data

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=1)

Building Model

In [38]:
models = {
    'Random Forest': RandomForestClassifier(),
    'Logistic Regression': LogisticRegression(), 
    'KNeighbors Classifier': KNeighborsClassifier(),
    'Decision Tree': DecisionTreeClassifier()
}

Training the iris data on 

Random Forest Logistic 
Regression KNeighbors 
Classifier and 
Decision Tree

In [39]:
model_result = {}
for model_name, model in models.items():
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)

    accuracy = accuracy_score(y_test, y_pred)

    model_result[model_name] = accuracy

In [44]:
pd.DataFrame(model_result.items(), columns=['Model', 'Accuracy Score'])

                   Model  Accuracy Score
0          Random Forest        0.966667
1    Logistic Regression        0.966667
2  KNeighbors Classifier        1.000000
3          Decision Tree        0.966667

100% accuracy in kNeighbours classifier

CLassification Report for K-Neighbors Classifier

In [50]:
Model = models['KNeighbors Classifier']
Model.fit(X_train,y_train)
pred = Model.predict(X_test)
print('classification_report')
print(classification_report(y_test, pred))

classification_report
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       1.00      1.00      1.00        13
           2       1.00      1.00      1.00         6

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30